<style>
h1 {
    text-align: center;
}
p{
    text-align: left;
    padding: 30px;
}
body {
    text-align: center;
    background: lightblue;
    color: white;
    font-family: Helvetica;
}
h4{
	margin-bottom:0;
	color: darkblue;
}
#one{
	text-align: left;
}
.container {
    width: 600px;
    margin: 0px auto;
}
#aboutme{
    text-align: center;
}
input {
  border: 0;
}
</style>
